@import "bootstrap.css";

body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.table .page{
	display: inline;
}

.table-striped  .list > a:nth-child(odd){
	background-color: rgba(100, 100, 100, 0.1);
}

.table .sort, .summary{
	cursor: pointer;
}

.table .row > div{
	padding: 8px;
	line-height: 18px;
	text-align: left;
	vertical-align: middle;
}

.list{
	min-height: 530px;
}

.pagination{
	margin: 0;
}

.summary{
	background-color: #33B5E5;
	color: white;
	text-align: center;
}

/*-----------------------------*/
.close{
	color: white;
	font-size: 30px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	color: black;
}

.modal-body {
	max-height: none;
}

.modal{
	width: 500px;
}

#content{
	min-height: 600px;
}