<div class="row">
	<div class="span12">
		<img class="about-icon" width="50">
		<h3>"As a regular guy I want to track my expenses"</h3>
		<p>task</p>
	</div>
</div>

<br/>

<div class="row">
	<div class="span12">
		<h3>Stories</h3>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p>1. As a guy I want to be able to easily create/modify/delete an expense.</p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p>2. As a guy I want to have an overview/list of my all expenses with total costs at the bottom.</p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p>3. As a guy I want to be able to easily mark expense as paid/unpaid from the list.</p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p>4. As a guy I want to be able to sort/filter it by name/description, dateCreated, category (transport, boozeup etc), paid/unpaid.</p>
	</div>
</div>