<div class="modal-header">
	<button class="close">&times;</button>
	<h3>Expense Details</h3>
</div>
<div class="modal-body">	
	<form class="form-horizontal">
		<fieldset>
			<div class="control-group">
				<label for="expenseId" class="control-label">Id:</label>

				<div class="controls">
					<input id="expenseId" name="id" type="text" value="<%= id === null ? '' : id %>" disabled/>
				</div>
			</div>

			<div class="control-group">
				<label for="name" class="control-label">Name:</label>

				<div class="controls">
					<input type="text" id="name" name="name" value="<%= name %>" data-error-style="inline"/>
				</div>
			</div>

			<div class="control-group">
				<label for="cost" class="control-label">Cost:</label>

				<div class="controls">
					<input type="text" id="cost" name="cost" value="<%= cost %>" data-error-style="inline"/>
				</div>
			</div>

			<div class="control-group">
				<label for="country" class="control-label">Paid:</label>

				<div class="controls">
					<input type="checkbox" id="paid" name="paid" <% if (paid){%>checked<%}%>/>
				</div>
			</div>

			<div class="control-group">
				<label for="dateCreated" class="control-label">Date created:</label>

				<div class="controls">
					<input type="text" id="dateCreated" name="dateCreated" value="<%= dateCreated %>" data-error-style="inline"/>
				</div>
			</div>

			<div class="control-group">
				<label for="categoryId" class="control-label">Category:</label>

				<div class="controls">
					<select id="categoryId" name="categoryId" data-error-style="inline">
						<option disabled="disabled">---- Select category ----</option>
						<% for (var i = 0; i < categories.length; i++){ %>
							<option value="<%= categories[i].id %>" 
								<%if (categoryId == categories[i].id){%>selected="selected"<% } %>>
								<%= categories[i].Title %>
							</option>
						<% } %>
					</select>
				</div>
			</div>

			<div class="control-group">
				<label for="description" class="control-label">Description:</label>

				<div class="controls">
					<textarea id="description" name="description" class="span4" rows="4" data-error-style="inline"><%= description	%></textarea>
				</div>
			</div>
		</fieldset>
	</form>

	<div class="status-bar">
		<div class="alert alert-error" style="display:none">
			<strong>Ooops!</strong> You did not pass the validation.
		</div>
		<div class="alert alert-success" style="display:none">
			<strong>Success!</strong> You passed the validation.
		</div>
	</div>  
</div>
<div class="modal-footer form-actions">
	<a class="btn save btn-primary">Save</a>
	<a class="btn delete ">Delete</a>
</div>